</body>
<footer id="footer">
    <% const date=new Date() %>
        <%const year=date.getFullYear() %>
            <div>Made with ❤️ by Rahul Kumar</div>

            <div>Copyright &copy; <%= year %>
            </div>

</footer>

</html>