<%- include('partials/header') %>


  <div class="jumbotron centered">
    <img src="home.png" alt="" width="350" height="350">
    <div class="container">
      <!-- <i class="fas fa-key fa-4x"></i> -->

      <!-- <span class="display-3">IITP Confessions<span /> -->
      <p class="lead">Post Anything Here That Comes To Your Mind. Don't Worry Your Identity Will Remain Anonymous!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

    </div>
  </div>


  <%- include('partials/footer') %>