<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <!-- <i class="fas fa-key fa-5x"></i> -->
      <img src="home.png" alt="" width="350" height="350">
      <!-- <h1 class="display-4">You've Discovered My Secret!😉</h1> -->
      <br />
      <br />

      <%userWithSecrets.forEach(function(user){%>
        <div class="secret">
          <p class="secret-text">
            "
            <%= user.secret%>
              "
          </p>
          <hr>
        </div>

        <%});%>

          <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
          <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>

  <%- include('partials/footer') %>