<%- include('partials/header') %>

  <div class="container">
    <div class="jumbotron text-center">
      <img src="home.png" alt="" width="350" height="350">
      <!-- <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Secrets</h1> -->
      <p class="secret-text">Everyone is a writer, some are written in books and some are confused to hearts</p>

      <form action="/submit" method="POST">

        <div class="form-group">
          <textarea type="text" class="form-control text-center" name="secret" placeholder="What's your confession?"
            autocomplete="off" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>


    </div>
  </div>
  <%- include('partials/footer') %>